*.log
.DS_Store
Thumbs.db
.phpunit.result.cache
/.phpunit.cache
.env
.env.backup
.env.production
/auth.json
/storage/*.key
/.fleet
/.idea
/.vscode
/.nova
/.zed
.phpactor.json
/node_modules
/vendor
/public/hot
/storage/pail
/public/storage
/bootstrap/ssr
!/public/build